<h1>Create a New DeCloset Account</h1>

<form class="form-column" method="POST" action="/auth/signup">
    <label for="new-name">Name</label>
    <input type="text" name="name" id="new-name" required>

    <label for="new-email">Email</label>
    <input type="email" name="email" id="new-email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="new-password" required>

    <label for="city">City</label>
    <input type="text" name="city" id="new-city" required>

    <label for="state">State</label>
    <input type="text" name="state" id="new-state" required>

    <label for="zip">Zip Code</label>
    <input type="text" name="zip" id="new-zip" required>

    <input class="button" type="submit" value="Sign Up">
</form>