<nav class="global">
    <ul class="global">
    <% if (!currentUser) { %>
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/auth/login">Log in</a></li>
    <% } else { %>
        <li><a href="/auth/logout">Log Out</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/clothing">Your Clothing</a></li>
        <li><a href="/shelters">Your Saved Shelters</a></li>
    <% } %>
        <li><a href="/shelters/search">Shelter Search</a></li>
    </ul>
</nav>