<h1>Shelter Results</h1>

<div class="mid-container">
    <% shelters.forEach(shelter => { %>
        <div class="list-container">
            <a class="results" href="/shelters/results/<%=shelter.detail%>"><%=shelter.name%></a>
        </div>
    <% }) %>
</div>