<h1>Your Saved Shelters</h1>

<a href="/shelters/search">Search for Shelters</a>

<ul>
    <% shelters.forEach(shelter => { %>
        <li>
            <a href="/shelters/details/<%=shelter.id%>"><%= shelter.name %></a>
        </li>
        <form method="POST" action="/shelters/?_method=DELETE">
            <input type="hidden" name="id" value="<%=shelter.id%>"><input type="submit" value="Remove from Saved Shelters">
        </form>
    <% }) %>
</ul>