<div class="top-container">
    <h1>Your Saved Shelters</h1>
    
    <a href="/shelters/search" class="button">Search for Shelters</a>
</div>


<div class="mid-container">
    <% shelters.forEach(shelter => { %>
        <div class="list-container min150">
            <a href="/shelters/details/<%=shelter.id%>" class="detail-button"><%= shelter.name %></a>
            <form method="POST" action="/shelters/?_method=DELETE">
                <input type="hidden" name="id" value="<%=shelter.id%>"><input type="submit" class="delete" value="Remove from Saved Shelters">
            </form>
        </div>
    <% }) %>
</div>
