<h2 class="logo">Welcome to DeCloset!</h2>

<div class="home-container">
    <a href="/auth/signup" class="detail-button">Sign Up</a>
    <a href="/auth/login" class="detail-button">Log In</a>
    <a href="/shelters/search" class="detail-button">Search for a Shelter</a>
</div>