<h1>Your Clothing</h1>

<a href="/clothing/new">Add New</a>

<ul>
    <% clothing.forEach(clothing => { %>
        <li>
            <a href="/clothing/<%= clothing.id %>">
                <%= clothing.style %>
            </a>
        </li>
    <% }) %>
</ul>