
<div class="top-container">
    <h1>Your Clothing</h1>
        <a href="/clothing/new" class="button">Add New</a>
</div>

<div class="mid-container">
    <% clothing.forEach(clothing => { %>
        <div class="list-container">
            <a href="/clothing/<%= clothing.id %>" class="detail-button"><%= clothing.style %></a>
        </div>  
    <% }) %>
</div>
