<h1>Add a New Piece of Clothing!</h1>

<form action="/clothing" method="POST">

    <label for="style">Style</label>
    <input type="text" name="style" required>

    <label for="status">Status</label>
    <select name="status">
        <option value="KEEP" selected>KEEP</option>
        <option value="DONATE">DONATE</option>
        <option value="TRASH">TRASH</option>
    </select required>

    <label for="category">Clothing Type</label>
    <input type="text" name="category">

    <label for="color">Color</label>
    <input type="text" name="color">

    <label for="brand">Brand</label>
    <input type="text" name="brand">

    <label for="material">Material</label>
    <input type="text" name="material">

    <label for="condition">Condition</label>
    <input type="text" name="condition">

    <input type="submit" value="Add to Closet">
</form>